.terraform.lock.hcl
.terraform/
terraform.tfstate
terraform.tfstate.backup

__pycache__/
*.py[cod]
*.pyo
*.pyd
venv/
.env

.ipynb_checkpoints

.DS_Store

logs/
*.log

*.swp

data/
.pytest_cache/
src/__pycache__
tests/__pycache__

model_paths.json