certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
idna==3.6
pocketsphinx==5.0.3
pycparser==2.21
requests==2.31.0
sounddevice==0.4.6
SpeechRecognition==3.10.1
typing_extensions==4.9.0
urllib3==2.2.1
